@keyframes funbackground {
    from{background-color: aliceblue;}
    to{background-color: blue}
}

*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    /* background-color: aliceblue; */
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* animation-name: funbackground;
    animation-duration: 4s;
    animation-iteration-count: infinite; */

}
header{
    background: royalblue;
    position: fixed;
    width: 100%;
    border-bottom: 10px solid aqua;

}
main{
    padding: 60px;
}
ul{
    display: block;
    margin: 1em;
}

li{
    display: inline;
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
}
h1, h2{
    margin: 20px;
}
figure{
    padding: 20px;
}
img{
    border-radius: 50%;
}
form{
    border: 5px solid aqua;
    border-radius: 20px;
    padding: 10px;
}
footer{
    background-color: aqua;
    width: 100%;
    padding: 10px;
}
.center-text{
    text-align: center;
}
.right-text{
    text-align: right;
}

#about-me{
    padding: 10px;
}